# Build directory
build/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.h.in
/config.h

# Java
*.class
*.jar
*.war
*.ear

# Misc
*.tar
*.gz
*.bz2
*.tbz
*.tbz2
*.tgz
*.zip
*.rar
*.bak
*~
