# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text filter=indent
*.h text
*.cc text
*.cxx text
*.cpp text
*.hh text
*.hpp text
*.F90 text
*.f90 text
*.F text
*.f text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcproj eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary
*.PNG binary
*.JPG binary
*.PDF binary
*.dvi binary
*.ps binary
